$body-GeneralStyleColor: #272829;
$general-ALinkColor1: #0563bb;
$general-ALinkColor2: #E41B52;
$general-ALinkColor3: #fb235c;
$general-ALinkColorHover:#067ded;
$backToTopHoverColor: #f2f3f5;
$navMenuColor: #45505b;
$aboutH3Color: #728394;
$progressBarBackground: #f2f3f5;
$resumeLinesCirclesBackgroundColor: #fff;
$resumeItemsH5: #f7f8f9;
$contactIconsBackgroundColor: #eef7ff;
$footerSocialLinks: #0678e3;